  <!-- Start Page Content -->
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-content"> 
                      <div class="container">
                          <div class="row">
                              <div class="col-md-3">
                                   <!-- Left sidebar -->
                     
                            <a class="btn btn-danger btn-block waves-effect waves-light" href="email-compose.html">Compose</a>
                            <div class="mail-list mt-4">
                              <a href="#" class="list-group-item border-0 text-danger"><i class="mdi mdi-inbox font-18 align-middle mr-2"></i><b>Boîte de réception</b><span class="label label-danger float-right ml-2">8</span></a>
                              <a href="#" class="list-group-item border-0"><i class="mdi mdi-send font-18 align-middle mr-2"></i>Messages envoyés</a>
                              <a class="list-group-item border-0" href="#"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Draft<span class="label label-info float-right ml-2">32</span></a>
                          </div>
                      
                        <!-- End Left sidebar -->
                              </div>
                              <div class="col-md-9">
                                

                                            <div class="">
                                                <div class="mt-4">
                                                    <div class="">
                                                        <ul class="message-list">
                                                            <li *ngFor=" let message of messages" [ngClass]="{'unread':!message.lu}">
                                                                <a [routerLink]="['../email-read', message.id]" >
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <!-- <input type="checkbox" > -->
                                                                            <div class="supp">
                                                                                    <i class="fa fa-trash"></i>
                                                                            </div>
                                                                           
                                                                        </div> 
                                                                        <p class="title">Administration</p><span class="star-toggle "></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject"> {{message.object}} &nbsp;
                                                                        
                                                                        </div>
                                                                        <div class="date">11:49 am</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                  
                                                            <li>
                                                                <a href="email-read.html">
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <input type="checkbox" id="chk3">
                                                                            <label class="toggle" for="chk3"></label>
                                                                        </div>
                                                                        <p class="title">Randy, me (5)</p><span class="star-toggle fa fa-star-o"></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject">Last pic over my village &nbsp;&ndash;&nbsp;
                                                                            <span class="teaser">Yeah i'd like that! Do you remember the video you showed me of your train ride between Colombo and Kandy? The one with the mountain view? I would love to see that one again!</span>
                                                                        </div>
                                                                        <div class="date">5:01 am</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="email-read.html">
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <input type="checkbox" id="chk4">
                                                                            <label class="toggle" for="chk4"></label>
                                                                        </div>
                                                                        <p class="title">Andrew Zimmer</p><span class="star-toggle fa fa-star-o"></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject">Mochila Beta: Subscription Confirmed &nbsp;&ndash;&nbsp; <span class="teaser">You've been confirmed! Welcome to the ruling class of the inbox. For your records, here is a copy of the information you submitted to us...</span>
                                                                        </div>
                                                                        <div class="date">Mar 8</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="unread">
                                                                <a href="email-read.html">
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <input type="checkbox" id="chk5">
                                                                            <label class="toggle" for="chk5"></label>
                                                                        </div>
                                                                        <p class="title">Infinity HR</p><span class="star-toggle fa fa-star-o"></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject">Sveriges Hetaste sommarjobb &nbsp;&ndash;&nbsp;
                                                                            <span class="teaser">Hej Nicklas Sandell! Vi vill bjuda in dig till "First tour 2014", ett rekryteringsevent som erbjuder jobb på 16 semesterorter iSverige.</span>
                                                                        </div>
                                                                        <div class="date">Mar 8</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="email-read.html">
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <input type="checkbox" id="chk6">
                                                                            <label class="toggle" for="chk6"></label>
                                                                        </div>
                                                                        <p class="title">Web Support Dennis</p><span class="star-toggle fa fa-star-o"></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject">Re: New mail settings &nbsp;&ndash;&nbsp;
                                                                            <span class="teaser">Will you answer him asap?</span>
                                                                        </div>
                                                                        <div class="date">Mar 7</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="email-read.html">
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <input type="checkbox" id="chk7">
                                                                            <label class="toggle" for="chk7"></label>
                                                                        </div>
                                                                        <p class="title">me, Peter (2)</p><span class="star-toggle fa fa-star-o"></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject">Off on Thursday &nbsp;&ndash;&nbsp;
                                                                            <span class="teaser">Eff that place, you might as well stay here with us instead! Sent from my iPhone 4 &gt; 4 mar 2014 at 5:55 pm</span>
                                                                        </div>
                                                                        <div class="date">Mar 4</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="email-read.html">
                                                                    <div class="col-mail col-mail-1">
                                                                        <div class="checkbox-wrapper-mail">
                                                                            <input type="checkbox" id="chk8">
                                                                            <label class="toggle" for="chk8"></label>
                                                                        </div>
                                                                        <p class="title">Medium</p><span class="star-toggle fa fa-star-o"></span>
                                                                    </div>
                                                                    <div class="col-mail col-mail-2">
                                                                        <div class="subject">This Week's Top Stories &nbsp;&ndash;&nbsp;
                                                                            <span class="teaser">Our top pick for you on Medium this week The Man Who Destroyed America’s Ego</span>
                                                                        </div>
                                                                        <div class="date">Feb 28</div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                
                                                 
                                                  
                                                        </ul>
                                                    </div>
                  
                                                </div>
                                                <!-- panel body -->
                                            </div>
                                            <!-- panel -->
                  
                                            <div class="row">
                                                <div class="col-7">
                                                    Showing 1 - 20 of 289
                                                </div>
                                                <div class="col-5">
                                                    <div class="btn-group float-right">
                                                        <button class="btn btn-gradient waves-effect" type="button"><i class="fa fa-chevron-left"></i></button>
                                                        <button class="btn btn-gradient waves-effect" type="button"><i class="fa fa-chevron-right"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                      
                  
                              </div>
                          </div>
                      </div>
                   

            
                      <div class="clearfix"></div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End PAge Content -->