<form [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm)" >
  <h2>Client</h2>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nom</label>
        <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
      </div>
      <div class="form-group col-md-6">
        <label >Prenom</label>
        <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">
      </div>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" placeholder="Email" formControlName="email">
  </div>
  <div class="form-row">  
    <div class="form-group col-md-6">
      <label >Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="motDePasse">
    </div>
    <div class="form-group col-md-6">
        <label >Telephone</label>
        <input type="text" class="form-control" placeholder="Telephone" formControlName="telephone">
    </div>
  </div>
  <div class="form-group">
    <label >Adresse</label>
    <input type="text" class="form-control" placeholder="Adresse" formControlName="adresse">
  </div>
  <h2>Societé</h2>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nom de la societé</label>
        <input type="text" class="form-control" placeholder="Nom de la societé" formControlName="nomSociete">
      </div>
      <div class="form-group col-md-6">
        <label >Telephone de la societé</label>
        <input type="text" class="form-control" placeholder="Telephone de la societé" formControlName="telSociete">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Matricule</label>
      <input type="text" class="form-control" placeholder="Matricule" formControlName="matricule">
    </div>
    <div class="form-group col-md-6">
      <label >Numero de registre de commerce</label>
      <input type="text" class="form-control" placeholder="Numero de registre de commerce" formControlName="numRegistreCommerce">
    </div>
  </div>
  <div class="form-group">
    <label >Address de la societé</label>
    <input type="text" class="form-control" placeholder="Address de la societé" formControlName="adresseSociete">
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label >Email de la societé</label>
      <input type="email" class="form-control" placeholder="Email de la societé" formControlName="emailSociete">
    </div>
    <div class="form-group col-md-4">
      <label >Secteur d'activité</label>
      <select class="form-control" formControlName="secteurActivite">
        <option selected>Banque</option>
        <option selected>Assurance</option>
        <option selected>Bois</option>
        <option selected>Papier</option>
        <option selected>Carton</option>
        <option selected>Imprimerie</option>
        <option selected>Matériaux de construction</option>
        <option selected>Chimie</option>
        <option selected>Parachimie</option>
        <option selected>Commerce</option>
        <option selected>Négoce</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
