<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
          <p>Inpire Your Business, Make your business more productive, deliver lightning fast and more</p>
          <h2>Shop</h2>
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a href="index.html">Home</a>
                  </li>
                  <li>.</li>
                  <li>Shop</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="shop-page section-margin-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-8 col-xs-12 shop-product float-left">
            <!-- <object data="assetshome/stage pdf.pdf" type="application/pdf" width="90%" height="1000px">
              <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p>
           </object>            -->
           <div class="leftColumn">
            <h3 class="mainTitle">Nouvelle loi relative au registre des entreprises</h3><span class="reglementation-viewer publicationsandnews"><span id="ctl00_MainContent_ctl00_ctl13_ctl00" class="reglementation-description"><p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">Par Kais Fekih</em></span></p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">Expert Comptable et enseignant &agrave; l&rsquo;IHEC</em></span></p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        C&rsquo;est devenu une r&eacute;alit&eacute;, la cr&eacute;ation du registre national des entreprises est inscrite dans la loi r&eacute;cemment vot&eacute;e entre deux manifestations concernant la COLIBE.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Toutefois, la date d&rsquo;entr&eacute;e en vigueur des dispositions de la loi n&eacute;cessite des mesures d&rsquo;application par des d&eacute;crets d&rsquo;application concordant avec les trois mois de moratoire pour basculer vers cette nouvelle plateforme.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Le premier apport de cette loi est l&rsquo;introduction de la notion&nbsp;<span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">d&rsquo;interconnexion</em></span>. Il s&rsquo;agit d&eacute;sormais d&rsquo;&eacute;change de donn&eacute;es entre les diff&eacute;rentes administrations (Administration fiscale, BCT, Douane, CNSS, Instance d&rsquo;investissement, les collectivit&eacute;s publiques, l&rsquo;INS, etc.) et qui permettra de faire radier la redondance des documents entre les diff&eacute;rentes administrations.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Le registre national des entreprises forme une base de donn&eacute;es collect&eacute;es par les citoyens par un outil permettant la consolidation du tissu de tous les acteurs &eacute;conomiques et juridiques rempla&ccedil;ant, par cons&eacute;quent, le fameux registre de commerce.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Le registre national permettra de regrouper&nbsp;:</p>
      <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <li style="box-sizing: border-box;">
          Les personnes morales et physiques ayant une activit&eacute; &eacute;conomique (non seulement commerciale) quelle que soit sa nature.</li>
        <li style="box-sizing: border-box;">
          Les constructions juridiques (par exemple&nbsp;: communaut&eacute; de biens conjoints) et filiales d&rsquo;&eacute;tablissements stables, les non-r&eacute;sidents, les &eacute;tablissements publics&hellip;</li>
        <li style="box-sizing: border-box;">
          Les associations longtemps mal r&eacute;pertori&eacute;es.</li>
        <li style="box-sizing: border-box;">
          Le b&eacute;n&eacute;ficiaire effectif&nbsp;: il s&rsquo;agit de toute personne physique qui exerce un contr&ocirc;le final sur une entit&eacute; ou tout actionnaire majoritaire. Il est &agrave; noter que cette nouvelle notion cr&eacute;era s&ucirc;rement une confusion l&eacute;gale notamment au niveau de la d&eacute;limitation des responsabilit&eacute;s des dirigeants.</li>
      </ul>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Le registre national des entreprises comprend &eacute;galement quatre registres &agrave; savoir&nbsp;:</p>
      <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <li style="box-sizing: border-box;">
          Le registre de commerce&nbsp;: destin&eacute; aux activit&eacute;s &eacute;conomiques commerciales</li>
        <li style="box-sizing: border-box;">
          Le registre professionnel&nbsp;: destin&eacute; &agrave; tout type de profession (avocats, experts..)</li>
        <li style="box-sizing: border-box;">
          Le registre des associations</li>
        <li style="box-sizing: border-box;">
          Le registre des b&eacute;n&eacute;ficiaires effectifs</li>
      </ul>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Ce nouveau registre exigera par ailleurs outre l&rsquo;inscription des donn&eacute;es identitaires (associ&eacute;s, g&eacute;rants, b&eacute;n&eacute;ficiaire effectif, identit&eacute; des conjoints),&nbsp;la mention obligatoire :</p>
      <ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <li style="box-sizing: border-box;">
          Des d&eacute;cisions rendues en mati&egrave;re judiciaire</li>
        <li style="box-sizing: border-box;">
          Des d&eacute;cisions d&rsquo;interdiction de gestion&nbsp;</li>
        <li style="box-sizing: border-box;">
          Des d&eacute;cisions de cessation de paiements, de faillite, de continuit&eacute; d&rsquo;exploitation.</li>
        <li style="box-sizing: border-box;">
          Des d&eacute;cisions de fusion absorption&nbsp;</li>
      </ul>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        La deuxi&egrave;me r&eacute;volution de cette loi est la cr&eacute;ation enfin d&rsquo;un&nbsp;<span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">identifiant unique</em></span>&nbsp;qui sera accord&eacute; par l&rsquo;administration fiscale et qui constituera une r&eacute;f&eacute;rence unique pour l&rsquo;&eacute;change de donn&eacute;es entre les institutions de l&rsquo;Etat longtemps brouill&eacute; par la diff&eacute;rence des r&eacute;pertoires et des disparit&eacute;s des codes activit&eacute;s.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        &nbsp;</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">Le processus de mise &agrave; jour&nbsp;:</em></span></p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        L&rsquo;immatriculation des entit&eacute;s &eacute;conomiques est d&eacute;sormais obligatoire sous peine de sanctions p&eacute;nales allant jusqu&rsquo;&agrave; un an de prison pour la non-immatriculation et variant de 1000dt &agrave; 2000dt pour l&rsquo;absence de mises &agrave; jour.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        La nouveaut&eacute; au niveau du registre r&eacute;side au niveau de la d&eacute;marche d&rsquo;immatriculation et de mise &agrave; jour qui sera d&eacute;sormais &eacute;lectronique ou mat&eacute;rielle. Cette r&eacute;forme au niveau de la proc&eacute;dure va soulager la souffrance du citoyen qui faisait des r&eacute;veils d&rsquo;aube pour chercher un simple registre de commerce.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        D&eacute;sormais, les mises &agrave; jours sont suppos&eacute;es &ecirc;tre faites en ligne en remplissant le formulaire &eacute;lectronique joint d&rsquo;un simple scanne des documents (PV, Statuts..).</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Par ailleurs, les documents demand&eacute;s lors des cr&eacute;ations d&rsquo;entreprises sont consid&eacute;rablement all&eacute;g&eacute;s. Toute demande de nouvelle immatriculation devra &ecirc;tre accompagn&eacute;e par les statuts, le certificat de priorit&eacute; pour le non commercial (Exigence internationale), l&rsquo;acte de nomination des dirigeants, la liste des b&eacute;n&eacute;ficiaires effectifs et l&rsquo;identit&eacute; des fondateurs et souscripteurs.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Pour r&eacute;sumer, on n&rsquo;aura plus &agrave; d&eacute;poser le contrat de location et le certificat bancaire de lib&eacute;ration du capital. Cependant, le demandeur doit prendre en consid&eacute;ration que les modifications doivent &ecirc;tre faites dans un d&eacute;lai ne d&eacute;passant pas les 15 jours.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">Publication&nbsp;:</em></span></p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Le registre des entreprises tient d&eacute;sormais un journal de publication de toutes les inscriptions et mise &agrave; jour sur son site web. Malheureusement, la publication au JORT demeurera obligatoire par les anciens textes non abrog&eacute;s.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        <span style="box-sizing: border-box; font-weight: 700;"><em style="box-sizing: border-box;">Limites&nbsp;:</em></span></p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        Outre la notion du b&eacute;n&eacute;ficiaire effectif qui semble-t-il va peser lourdement sur les mod&egrave;les d&rsquo;identification des responsabilit&eacute;s juridiques et &eacute;conomiques, la loi reste avare en terme de pr&eacute;cision de la notion d&rsquo;interconnexion des administrations.</p>
      <p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(68, 68, 68); font-size: 13px;">
        La pr&eacute;sidence du gouvernement qui g&egrave;re ce registre pourrait imposer plus facilement ses choix afin de changer les r&eacute;flexes bureaucrates et ennuyeux d&eacute;velopp&eacute;s depuis des d&eacute;cennies par les diff&eacute;rents minist&egrave;res et surtout nous lib&eacute;rer ainsi de la gestion archa&iuml;que du minist&egrave;re de la justice</p>
      </span></span>
          </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 shop-sidebar">
              <div class="views-element-container sidebar-shop-categories" id="block-inobi-block-taxonomy-terms-block-product-categories">
                  <h4>Shop Categories :</h4>
                  <div>
                      <div class="js-view-dom-id-11e619077fa35e73a907559f5ddc38bebfbf2e483bcd9446b3f8bcb139742713">
                          <div>
                              <ul>
                                  <li>
                                      <a href="charity.html" hreflang="en">Charity</a>
                                  </li>
                                  <li>
                                      <a href="cloth.html" hreflang="en">Cloth</a>
                                  </li>
                                  <li>
                                      <a href="design.html" hreflang="en">Design</a>
                                  </li>
                                  <li>
                                      <a href="electronic.html" hreflang="en">Electronic</a>
                                  </li>
                                  <li>
                                      <a href="led.html" hreflang="en">LED</a>
                                  </li>
                                  <li>
                                      <a href="light-shop.html" hreflang="en">Light Shop</a>
                                  </li>
                                  <li>
                                      <a href="technology.html" hreflang="en">Technology</a>
                                  </li>
                                  <li>
                                      <a href="user-experience.html" hreflang="en">User Experience</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
         
          </div>
      </div>
  </div>
</div>