<div class="theme-inner-banner" style="background-image:url(assetshome/sites/default/files/background/inner-banner.jpg)">
  <div class="opacity">
      <div class="container">
          <p>Inpire Your Business, Make your business more productive, deliver lightning fast and more</p>
          <h2>Shop</h2>
          <div id="block-inobi-breadcrumbs">
              <ul>
                  <li>
                      <a href="index.html">Home</a>
                  </li>
                  <li>.</li>
                  <li>Shop</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="shop-page section-margin-bottom">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-md-8 col-xs-12 shop-product float-left">
            <!-- <object data="assetshome/stage pdf.pdf" type="application/pdf" width="90%" height="1000px">
              <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p>
           </object>            -->
           
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 shop-sidebar">
              <div class="views-element-container sidebar-shop-categories" id="block-inobi-block-taxonomy-terms-block-product-categories">
                  <h4>publication & actualités  :</h4>
                  <div>
                      <div class="js-view-dom-id-11e619077fa35e73a907559f5ddc38bebfbf2e483bcd9446b3f8bcb139742713">
                          <div>
                              <ul *ngFor="let document of documents">
                                  <li>
                                      <a href="charity.html" hreflang="en">{{document.name}}</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
         
          </div>
      </div>
  </div>
</div>