

<app-template-admin></app-template-admin>
    <!-- Preloader - style you can find in spinners.css -->
    <!-- <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div> -->
    <!-- Main wrapper  -->
    <!-- <div id="main-wrapper">
        <app-navbar></app-navbar> 
        <app-left-sidebar></app-left-sidebar>                    
        <app-list-client></app-list-client>
    </div> -->
    <!-- End Wrapper -->
   
